@charset "utf-8";
/*
Theme Name: answer
Version: 1.0
Description: Answer
*/


/****************************************
		総合
*****************************************/
html, body, div, span, applet, object, iframe, strong,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, caption, 
tbody, tfoot, thead, label{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: "メイリオ",Meiryo,'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  overflow-x: hidden; /* 横スクロール非表示 */
  line-height: 1.8;
  font-size: 18px;
  color: #ffffff;
  background-color: #000000;
  margin: 0;
}

.clearfix:after { /* floatの解除 */
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
  content: ".";
}
.clearfix {
  min-height: 1px; /*IE6、7対策*/
}
html, body, #page, #wrapper, #contents{
  width: 100%;
  height: 100%;
}
h1{
  font-family: 'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 25px;
  -webkit-transform: scale(1,1.7);
  -moz-transform: scale(1,1.7);
  -ms-transform: scale(1,1.7);
  -o-transform: scale(1,1.7);
  transform: scale(1,1.7);
}
/* pc tablet */
@media screen and (min-width: 641px) {
h2{
  font-family: 'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  letter-spacing: 10px;
  font-size: 300%;
  font-style: italic; 
  padding-bottom: 30px;
}
}
/* smartPhone */
@media screen and (max-width: 640px) {
h2{
  font-family: 'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  letter-spacing: 10px;
  font-size: 150%;
  font-style: italic; 
  padding-bottom: 30px;
}
}
h3{
  font-family: "メイリオ",Meiryo,'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  letter-spacing: 10px;
  font-size: 130%;
  padding-bottom: 30px;
}
a{
  font-family: "メイリオ",Meiryo,'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 16px;
  font-weight : bold ;
  color: #fff;
  text-decoration:none;
}

/****************************************
		ローディング画面
*****************************************/
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}


/****************************************
		ヘッダメニュー
*****************************************/
#title_top{
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: 'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 23px;
  font-weight : bold ;
  color: #fff;
}
#title_top a{
  font-family: 'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 23px;
  font-weight : bold ;
  color: #fff;
  text-decoration:none;
}
#tel_top{
  position: absolute;
  top: 60px;
  left: 5px;
  font-family: 'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 20px;
  font-weight : bold ;
  color: #fff;
}
#tel_top a{
  font-family: 'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 20px;
  font-weight : bold ;
  color: #fff;
  text-decoration:none;
}
#tel_top i{
  font-size:20px;
}

/* pc */
@media screen and (min-width: 961px) {
#nav_box_wrapper{
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0px;
  background: rgba(0,0,0,.8);
}
#nav_box{
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  position:relative;
}
#description_top{
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: 'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 15px;
  color: #fff;
}
#menu{
  position: absolute;
  top: 55px;
  right: 5px;
  list-style: none;
}
#menu li {
  float: left;
  position: relative;
}
#menu li a {
  padding: 0 15px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 20px;
  font-weight : bold ;
  display: inline-block;
  -webkit-transform: scale(1,1.7);
  -moz-transform: scale(1,1.7);
  -ms-transform: scale(1,1.7);
  -o-transform: scale(1,1.7);
  transform: scale(1,1.7);
}
#toggle{
  display: none;
}
}

/* smartPhone tablet */
@media screen and (max-width: 960px) {
#nav_box_wrapper{
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0px;
  background: rgba(0,0,0,.7);
}
#nav_box{
  width: 100%;
  height: 100px;/*60px;*/
  margin: 0 auto;
}
#description_top{
  position: absolute;
  top: 40px;
  left: 5px;
  font-family: 'Rajdhani',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 15px;
  color: #fff;
}
#menu {
  display: none;
}
#toggle{
  display: block;
  width: 100%;
  height: 100px;/*60px;*/
  background: rgba(0,0,0,.7);
  text-align: right;
  border-bottom: 1px solid #444;
  z-index: 30;
}
#toggle a{
  position: relative;
  top: 60px;/*15px;*/
  text-decoration: none;
  color: #fff;
}
#menu ul {
  display: none;
}
#menu li {
  position: relative;
  background: rgba(0,0,0,.8);
  border-bottom: 1px solid #444;
  height: 40px;
  z-index: 20;
  text-align: center;
}
#menu li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  font-weight : bold ;
}
#toggle i{
  position: relative;
  right: 10px;
}
}

/****************************************
		パンくず
*****************************************/
/* pc */
@media screen and (min-width: 961px) {
#bd_wrapper{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size:16px;
}
}
/* smartPhone tablet */
@media screen and (max-width: 960px) {
#bd_wrapper{
  max-width: 100%;
  font-size:16px;
}
}

/****************************************
		スライダー
*****************************************/
.slider-container{
  position: relative;
  height: 100%;
}
.slider-container p {
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

/****************************************
		序文
*****************************************/
.intro-container{
  margin-top: 80px;
  text-align: center;
}
/* pc */
@media screen and (min-width: 961px) {
.intro-wrapper{
  padding-top: 80px;
  max-width: 1000px;
  text-align: center;
  margin: auto;
}
}
/* smartPhone tablet */
@media screen and (max-width: 960px) {
.intro-wrapper{
  padding-top: 80px;
  max-width: 100%;
  text-align: center;
  margin: auto;
}
}
.intro-box{
  width: 300px;          /* 横幅を固定 */
  margin: 5px;
  margin-top: 15px;
  display: inline-block; /* インラインブロック化 */
  vertical-align: top;   /* 上端を揃える */
}
.intro-img img{
  padding:7px;
  border:1px solid #ccc;
  background:#fff;
  box-shadow: 1px 1px 5px rgba(20,20,20,0.2);/* ドロップシャドウ 【横位置 縦位置 ぼかし幅 色】の順に記述 */
}

/****************************************
		News外部
*****************************************/
.news{
  margin-top: 80px;
  color: #000000;
}
.parallax-window-news {
  min-height: 400px;
  background: transparent;
  padding-bottom: 80px;
  position: relative;
}

#h2_news{
  margin-top: 80px;
  padding-top: 80px;
  color: #000000;
  text-shadow: 0px 0px 20px rgba(255,255,255,1);
}
/****************************************
		News内部
*****************************************/
.infomation_box a{
  color: #000000;
}
/* pc */
@media screen and (min-width: 961px) {
.infomation_wrapper{
  max-width: 1000px;
  text-align: center;
  margin: auto;
}
}
/* smartPhone tablet */
@media screen and (max-width: 960px) {
.infomation_wrapper{
  max-width: 100%;
  text-align: center;
  margin: auto;
}
}
.infomation_box{
  position: relative;
  width: 200px;          /* 横幅を固定 */
  height: 320px;
  display: inline-block; /* インラインブロック化 */
  vertical-align: top;   /* 上端を揃える */
  margin: 5px;
  margin-top: 15px;
  background-color: #ffffff;
}
.infomation_box_time{
  height: 30px;
  font-size: 75%;
  color: #ffffff;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infomation_box_thum{
  display: table-cell;
  vertical-align: middle;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infomation_box_title{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  line-height: 1.2;
  text-align: left;
}
.infomation_box_cat{
  text-align: left;
  padding-left: 10px;
  position: absolute;
  bottom:0;
}
.infomation_box_cat a{
  font-size: 10px;
  font-weight :normal;
  color: #808080;
}

#go-to-newslist-box{
  margin-top: 40px;
  margin-right: 80px;
  text-align: right;
}
#go-to-newslist{
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  font-weight:bold;
  text-shadow: 0px 0px 20px rgba(255,255,255,1);
}
#go-to-newslist i{
  color: #000000;
  font-size: 25px;text-align: right;
}
/****************************************
		Newsピックアップ
*****************************************/
.pickup-img {
  position: relative;
}
.pickup-img:before {
  border-color: #cc0 transparent transparent transparent;
  border-style: solid;
  border-width: 60px 60px 0 0;
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  z-index: 2;
}
.pickup-img:after {
  color: #fff;
  content: "NEW";
  font-size: 12px;
  position: absolute;
  top: 15px;
  left: 8px;
  transform: rotate(-45deg);
  z-index: 3;
}

/****************************************
		Outline
*****************************************/
.outline{
  margin-top: 80px;
}
/* pc */
@media screen and (min-width: 961px) {
.outline_wrapper{
  padding: 5px;
  max-width: 1000px;
  text-align: center;
  margin: auto;
}
.content_in_left{
  width: 500px;
  display: inline-block; /* インラインブロック化 */
  vertical-align: top;   /* 上端を揃える */
}
.content_in_right{
  width: 490px;
  display: inline-block; /* インラインブロック化 */
  vertical-align: top;   /* 上端を揃える */
}
}
/* smartPhone tablet */
@media screen and (max-width: 960px) {
.outline_wrapper{
  padding: 5px;
  max-width: 100%;
  text-align: center;
  margin: auto;
}
.content_in_left{
  width: 100%;
}
.content_in_right{
  width: 100%;
}
}
.outline_wrapper p{
  font-size: 12px;
  text-align: left;
}
.gaiyo{
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #808080;
  margin-top: 30px;
  margin-bottom: 30px;
}
.gaiyo1{
  width: 90px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #808080;
}
.gaiyo2{
  width: 330px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #808080;
}

.memo-top{
  display:table;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
}
.memo-title{
  display:table-cell;
  width: 160px;
}
.memo-memo{
  display:table-cell;
  width: auto;
  word-break: break-all !important;
}

/* pc tablet */
@media screen and (min-width: 641px) {
#outline-img-01{
  width: 420px;
  height: 163px;
}
}
/* smartPhone */
@media screen and (max-width: 640px) {
#outline-img-01{
  width: 100%;
  height: auto;
}
}


/****************************************
		Access
*****************************************/
/* pc tablet */
@media screen and (min-width: 641px) {
.access{
  margin-top: 80px;
  height: 750px;
}
}
/* smartPhone */
@media screen and (max-width: 640px) {
.access{
  margin-top: 80px;
  height: 500px;
}
}
.access_wrapper{
  text-align: center;
  margin: auto;
}
.access_wrapper p{
  font-size: 14px;
}
.google-maps {
  position: relative;
  padding-bottom: 75%; /* これが縦横比 */
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 500px !important;
}


/****************************************
		Contact
*****************************************/
.contact{
  padding-top: 80px;
  color: #000000;
}
.parallax-window-contact {
  background: transparent;
  position: relative;
}
/* pc */
@media screen and (min-width: 961px) {
.contact_wrapper{
  max-width: 1000px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 80px;
  padding-top: 80px;
  background-color: rgb(255,255,255,0.6);
}
}
/* smartPhone tablet */
@media screen and (max-width: 960px) {
.contact_wrapper{
  max-width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 80px;
  padding-top: 80px;
  background-color: rgb(255,255,255,0.6);
}
}
#h2_contact{
  color: #000000;
}
.contact_wrapper p{
  font-size: 14px;
  color: #000000;
}

/* pc */
@media screen and (min-width: 961px) {
.contact_name{
  width: 430px;
  display: inline-block; /* インラインブロック化 */
  vertical-align: top;   /* 上端を揃える */
  margin-bottom: 10px
}
.contact_mail{
  width: 435px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px
}
.contact_subject{
  width: 900px;
  display: inline-block;
  margin-bottom: 10px
}
.contact_message{
  width: 900px;
  display: inline-block;
  margin-bottom: 10px
}
}

/* smartPhone smartPhone */
@media screen and (max-width: 960px) {
.contact_name{
  width: 90%;
  display: inline-block; /* インラインブロック化 */
  vertical-align: top;   /* 上端を揃える */
  margin-bottom: 10px
}
.contact_mail{
  width: 90%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px
}
.contact_subject{
  width: 90%;
  display: inline-block;
  margin-bottom: 10px
}
.contact_message{
  width: 90%;
  display: inline-block;
  margin-bottom: 10px
}
}


/*Contact Form 7*/
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 textarea {
  background-color: #fff;
  color: #333;
  width: 95%;
  border: 1px solid #ddd;
  font-size: 100%;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1) inset;
}
.wpcf7 input[type="submit"] {
  font-size: 130%;
  background: #000000;
  width: 100px;
  height: 30px;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0,0,0,.2);
  border: 1px solid #ccc;
  text-shadow: -1px 1px 0 rgba(255,255,255,1);
}


/****************************************
		フッター
*****************************************/
#footer-menu ul{
  text-align: center;
  margin: 10px 0;
}
 
#footer-menu ul li {
  display: inline;
  list-style: outside none none;
}
 
#footer-menu ul li::before {
  content: "|";
  padding: 0 0.6em;
}
 
#footer-menu ul li:first-child::before{
  content: "";
  padding: 0;
}
 
#footer-menu ul .sub-menu{
  display: none;
}

.copy{
  text-align: center;
  margin: 10px 0;
}



/****************************************
		ヘッダー
*****************************************/
#header_img {
  position: relative;
  height:200px;
  overflow: hidden;
}
#header_img #head_bk_img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: inherit;
}
#header_img p{
  text-align: center;
  position: relative;
  top: 50px;
}

/****************************************
		NewsList
*****************************************/
.news-list{
  text-align: center;
  margin-bottom: 80px;
}
/* pc */
@media screen and (min-width: 961px) {
.info-list-archive-container{
  max-width: 1000px;
  text-align: center;
  margin: auto;
}
}
/* smartPhone tablet */
@media screen and (max-width: 960px) {
.info-list-archive-container{
  max-width: 100%;
  text-align: center;
  margin: auto;
}
}
.info-list-archive-container h2{
  padding-top: 80px;
  color: #ffffff;
}
/****************************************
		Newsページ
*****************************************/
.post-news{
  text-align: center;
  margin-bottom: 80px;
}
/* pc */
@media screen and (min-width: 961px) {
.post-news-container{
  max-width: 1000px;
  text-align: center;
  margin: auto;
}
}
/* smartPhone smartPhone */
@media screen and (max-width: 960px) {
.post-news-container{
  width: 100%;
  text-align: center;
  margin: auto;
}
}
.post-news-container h2{
  padding-top: 80px;
  color: #ffffff;
}
.post-news-day{
  width: 200px;
  height: 15px;
  display: flex;
  margin-bottom: 15px;
}
.post-news-day div{
  width: 200px;
  font-size: 75%;
  color: #ffffff;
  text-align: center;
}
/* pc */
@media screen and (min-width: 961px) {
.post-news-box{
  width:1000px;
  height:auto;
  background-color: #ffffff;
  color: #000000;
}
.post-news-thum {
  width: 200px;
  height:170px;
  overflow: hidden;
}
.post-news-box p{
  padding: 15px;
  text-align: left;
}
.post-news-box img{
  max-width:970px;
  height:auto;

}
}
/* smartPhone smartPhone */
@media screen and (max-width: 960px) {
.post-news-box{
  width:100%;;
  height:auto;
  background-color: #ffffff;
  color: #000000;
}
.post-news-thum {
  width: 200px;
  height:170px;
  overflow: hidden;
}
.post-news-box p{
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}
.post-news-box img{
  width:100%;
  height:auto;
}
}

.post-news-cat {
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
}
.post-news-cat a{
  font-size: 10px;
  font-weight :normal;
  color: #808080;
}

/****************************************
		Aeroリストページ
*****************************************/
.aero-list{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
/* pc */
@media screen and (min-width: 961px) {
.aero-list-archive-container{
  max-width: 1000px;
  text-align: center;
  margin: auto;
}
}
/* smartPhone tablet */
@media screen and (max-width: 960px) {
.aero-list-archive-container{
  max-width: 100%;
  text-align: center;
  margin: auto;
}
}
.aero-list-box{
  position: relative;
  width: 200px;          /* 横幅を固定 */
  height: 320px;
  display: inline-block; /* インラインブロック化 */
  vertical-align: top;   /* 上端を揃える */
  margin: 5px;
  margin-top: 15px;
  background-color: #ffffff;
  color: #000000;
}
.aero-list-box-maker{
  height: 30px;
  font-size: 75%;
  color: #ffffff;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aero-list-box-type{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  line-height: 1.2;
}
.aero-list-box-num{
  padding-left: 10px;
  padding-right: 10px;
  color: #808080;
  font-size: 13px;
  line-height: 1.3;
}
.aero-list-box-cat{
  text-align: left;
  padding-left: 10px;
  position: absolute;
  bottom:0;
}
.aero-list-box-cat a{
  font-size: 10px;
  font-weight :normal;
  color: #808080;
}


/****************************************
		Aeroページ
*****************************************/
.post-aero{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
/* pc */
@media screen and (min-width: 961px) {
.post-aero-container{
  max-width: 1000px;
  text-align: center;
  margin: auto;
}
.aero-maker{
  width: 200px;
  height: 15px;
  display: flex;
  margin-bottom: 15px;
}
.aero-maker div{
  width: 200px;
  font-size: 75%;
  color: #ffffff;
  text-align: center;
}
.aero-box {
  width:1000px;
  height:170px;
  background-color: #ffffff;
  color: #000000;
}
.aero-box-thum {
  width: 200px;
  height:170px;
  overflow: hidden;
  float: left;
}
.aero-box-info {
  height:170px;
  float: left;
  padding-left: 15px;
  text-align: left;
}
.aero-box-label{
  font-size: 13px;
}
.aero-box-type h3{
  line-height: 100%;
  padding-bottom: 0px;
  letter-spacing: -1px;
}
.aero-box-num{
  padding-top: 15px;
  font-size: 13px;
}
.aero-box-cat a{
  font-size: 10px;
  font-weight :normal;
  color: #808080;
}
.post-box-content{
  padding: 15px;
  text-align: left;
}
}
/* smartPhone smartPhone */
@media screen and (max-width: 960px) {
.post-aero-container{
  width: 100%;
  text-align: center;
  margin: auto;
}
.aero-maker{
  width: 200px;
  height: 15px;
  display: flex;
  margin-bottom: 15px;
}
.aero-maker div{
  width: 200px;
  font-size: 75%;
  color: #ffffff;
  text-align: center;
}
.aero-box {
  width:auto;
  height:auto;
  background-color: #ffffff;
  color: #000000;
}
.aero-box-thum {
  width: 200px;
  height:170px;
  overflow: hidden;
}
.aero-box-info {
  height:170px;
  padding-left: 15px;
  text-align: left;
}
.aero-box-label{
  font-size: 13px;
}
.aero-box-type h3{
  line-height: 100%;
  padding-bottom: 0px;
  letter-spacing: -1px;
}
.aero-box-num{
  padding-top: 15px;
  font-size: 13px;
}
.aero-box-cat a{
  font-size: 10px;
  font-weight :normal;
  color: #808080;
}
.post-box-content{
  padding: 15px;
  text-align: left;
}
.post-box-content img{
  width: 100%;
  height: auto;
}
}

/****************************************
		Accessoryリストページ
*****************************************/
.accessory-list{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* pc */
@media screen and (min-width: 961px) {
.accessory-list-archive-container{
  max-width: 1000px;
  text-align: center;
  margin: auto;
}
}
/* smartPhone tablet */
@media screen and (max-width: 960px) {
.accessory-list-archive-container{
  max-width: 100%;
  text-align: center;
  margin: auto;
}
}
.accessory-list-box{
  position: relative;
  width: 200px;          /* 横幅を固定 */
  height: 320px;
  display: inline-block; /* インラインブロック化 */
  vertical-align: top;   /* 上端を揃える */
  margin: 5px;
  margin-top: 15px;
  background-color: #ffffff;
  color: #000000;
}
.accessory-list-box-num{
  height: 30px;
  font-size: 75%;
  color: #ffffff;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accessory-list-box-name{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  line-height: 1.2;
}
.accessory-list-box-cat{
  text-align: left;
  padding-left: 10px;
  position: absolute;
  bottom:0;
}
.accessory-list-box-cat a{
  font-size: 10px;
  font-weight :normal;
  color: #808080;
}


/****************************************
		Accessoryページ
*****************************************/
.post-accessory{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
/* pc */
@media screen and (min-width: 961px) {
.post-accessory-container{
  max-width: 1000px;
  text-align: center;
  margin: auto;
}
.aeaccessoryro-num{
  width: 200px;
  height: 15px;
  display: flex;
  margin-bottom: 15px;
}
.accessory-num div{
  width: 200px;
  font-size: 75%;
  color: #ffffff;
  text-align: center;
}
.accessory-box {
  width:1000px;
  height:170px;
  background-color: #ffffff;
  color: #000000;
}
.accessory-box-thum {
  width: 200px;
  height:170px;
  overflow: hidden;
  float: left;
}
.accessory-box-info {
  height:170px;
  float: left;
  padding-left: 15px;
  text-align: left;
}
.accessory-box-name h3{
  line-height: 100%;
  padding-bottom: 0px;
  padding-top: 15px;
  letter-spacing: -1px;
}
.accessory-box-price{
  padding-top: 15px;
  font-size: 13px;
}
.accessory-box-cat a{
  font-size: 10px;
  font-weight :normal;
  color: #808080;
}
}
/* smartPhone smartPhone */
@media screen and (max-width: 960px) {
.post-accessory-container{
  width: auto;
  text-align: center;
  margin: auto;
}
.aeaccessoryro-num{
  width: 200px;
  height: 15px;
  display: flex;
  margin-bottom: 15px;
}
.accessory-num div{
  width: 200px;
  font-size: 75%;
  color: #ffffff;
  text-align: center;
}
.accessory-box {
  width:auto;
  height:auto;
  background-color: #ffffff;
  color: #000000;
}
.accessory-box-thum {
  width: 200px;
  height:170px;
  overflow: hidden;
  float: left;
}
.accessory-box-info {
  position: relative;
  height:170px;
  float: left;
  padding-left: 15px;
  text-align: left;
}
.accessory-box-name h3{
  line-height: 100%;
  padding-bottom: 0px;
  letter-spacing: -1px;
}
.accessory-box-price{
  padding-top: 15px;
  font-size: 13px;
}
.accessory-box-cat a{
  font-size: 10px;
  font-weight :normal;
  color: #808080;
}
}

/****************************************
		ページネーション
*****************************************/
/*投稿ナビゲーションの文字*/
.screen-reader-text{
  display: none;
}

.pagination a {
  padding: 1px 8px;
  display: inline-block;
  border: solid 1px #cccccc;
  color: #666666;
  background-color: #ffffff;
  font-size: 1em;
  text-decoration: none;
}
.pagination a:hover {
  background-color: #e8e8e8;
}
.pagination span {
  padding: 1px 8px;
  display: inline-block;
}
.pagination span.current {
  color: #ffffff;
  font-size: 1em;
  background-color: #000000;
  border: 1px solid #ffffff;
}
.pagination {
  position:relative !important;     
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 20px;  
  text-align: center;
  clear: both;
  background-color: transparent;
}
.pagination h2.screen-reader-text { display: none; }
 